# Soccer Data Analysis
Trying to gain some interesting insights from Kaggle's [European Soccer dataset](https://www.kaggle.com/hugomathien/soccer).

_As a part of EdX/UCSD course: [Python for Data Science](https://www.edx.org/course/python-data-science-uc-san-diegox-dse200x)_

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create the connection.
cnx = sqlite3.connect('soccer/database.sqlite')

#### Let's look at all the available tables:

In [3]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", cnx)

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [5]:
# Load up all the tables, cuz more data == more power!
player_attributes = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx).dropna()
player = pd.read_sql_query("SELECT * FROM Player", cnx)
# match = pd.read_sql_query("SELECT * FROM Match", cnx)
# league = pd.read_sql_query("SELECT * FROM League", cnx)
# country = pd.read_sql_query("SELECT * FROM Country", cnx)
# team = pd.read_sql_query("SELECT * FROM Team", cnx)
# team_attributes = pd.read_sql_query("SELECT * FROM Team_Attributes", cnx)

#### No. of rows in tables:

In [6]:
print('{:18}: {}'.format('Player attributes', len(player_attributes)))
print('{:18}: {}'.format('Players', len(player)))
# print('{:18}: {}'.format('Matches', len(match)))
# print('{:18}: {}'.format('Leagues', len(league)))
# print('{:18}: {}'.format('Countries', len(country)))
# print('{:18}: {}'.format('Teams', len(team)))
# print('{:18}: {}'.format('Team attributes', len(team_attributes)))

Player attributes : 180354
Players           : 11060

In [7]:
player_attributes

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
5,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
6,7,189615,155782,2016-04-07 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
7,8,189615,155782,2016-01-07 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
8,9,189615,155782,2015-12-24 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
9,10,189615,155782,2015-12-17 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
10,11,189615,155782,2015-10-16 00:00:00,73.0,77.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
11,12,189615,155782,2015-09-25 00:00:00,74.0,78.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
12,13,189615,155782,2015-09-21 00:00:00,73.0,77.0,left,medium,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
13,14,189615,155782,2015-01-09 00:00:00,71.0,75.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
14,15,189615,155782,2014-12-05 00:00:00,71.0,77.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
15,16,189615,155782,2014-11-07 00:00:00,71.0,77.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
16,17,189615,155782,2014-09-18 00:00:00,70.0,77.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
17,18,189615,155782,2014-05-02 00:00:00,70.0,79.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
18,19,189615,155782,2014-04-04 00:00:00,70.0,79.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
19,20,189615,155782,2014-03-14 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
20,21,189615,155782,2013-12-13 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
21,22,189615,155782,2013-11-08 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
22,23,189615,155782,2013-10-04 00:00:00,69.0,79.0,left,medium,medium,77.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
23,24,189615,155782,2013-09-20 00:00:00,69.0,79.0,left,medium,medium,77.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
24,25,189615,155782,2013-05-03 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
25,26,189615,155782,2013-03-22 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
26,27,189615,155782,2013-03-15 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
27,28,189615,155782,2013-02-22 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
28,29,189615,155782,2013-02-15 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
29,30,189615,155782,2012-08-31 00:00:00,68.0,80.0,left,medium,medium,77.0,...,63.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183933,183934,2488,26357,2009-08-30 00:00:00,76.0,80.0,right,low,medium,42.0,...,73.0,68.0,83.0,76.0,74.0,9.0,21.0,53.0,21.0,21.0
183934,183935,2488,26357,2008-08-30 00:00:00,75.0,78.0,right,low,medium,42.0,...,73.0,68.0,83.0,76.0,74.0,9.0,21.0,53.0,21.0,21.0
183935,183936,2488,26357,2007-08-30 00:00:00,77.0,78.0,right,low,medium,42.0,...,73.0,68.0,83.0,76.0,74.0,9.0,21.0,53.0,21.0,21.0
183936,183937,2488,26357,2007-02-22 00:00:00,77.0,78.0,right,low,medium,42.0,...,73.0,68.0,83.0,76.0,74.0,14.0,13.0,73.0,13.0,6.0
183937,183938,164680,111182,2014-09-18 00:00:00,63.0,67.0,left,high,medium,65.0,...,49.0,53.0,57.0,61.0,61.0,9.0,8.0,5.0,5.0,8.0
183938,183939,164680,111182,2014-02-14 00:00:00,63.0,67.0,left,high,medium,65.0,...,49.0,53.0,57.0,61.0,61.0,9.0,8.0,5.0,5.0,8.0
183939,183940,164680,111182,2013-11-22 00:00:00,63.0,67.0,left,medium,medium,65.0,...,49.0,53.0,57.0,61.0,61.0,9.0,8.0,5.0,5.0,8.0
183940,183941,164680,111182,2013-10-11 00:00:00,63.0,67.0,left,medium,medium,65.0,...,34.0,53.0,59.0,59.0,59.0,9.0,8.0,5.0,5.0,8.0
183941,183942,164680,111182,2013-09-20 00:00:00,63.0,67.0,left,medium,medium,65.0,...,34.0,53.0,59.0,59.0,59.0,9.0,8.0,5.0,5.0,8.0
183942,183943,164680,111182,2013-07-05 00:00:00,66.0,70.0,left,medium,medium,65.0,...,34.0,53.0,62.0,66.0,64.0,9.0,8.0,5.0,5.0,8.0
183943,183944,164680,111182,2013-06-07 00:00:00,66.0,70.0,left,medium,medium,65.0,...,34.0,53.0,62.0,66.0,64.0,9.0,8.0,5.0,5.0,8.0
183944,183945,164680,111182,2013-03-08 00:00:00,66.0,70.0,left,medium,medium,65.0,...,34.0,53.0,62.0,66.0,64.0,9.0,8.0,5.0,5.0,8.0
183945,183946,164680,111182,2013-02-22 00:00:00,66.0,70.0,left,medium,medium,65.0,...,34.0,53.0,62.0,66.0,64.0,9.0,8.0,5.0,5.0,8.0
183946,183947,164680,111182,2013-02-15 00:00:00,66.0,70.0,left,medium,medium,65.0,...,34.0,53.0,62.0,66.0,64.0,9.0,8.0,5.0,5.0,8.0
183947,183948,164680,111182,2012-08-31 00:00:00,68.0,76.0,left,medium,medium,73.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183948,183949,164680,111182,2012-02-22 00:00:00,68.0,76.0,left,medium,medium,73.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183949,183950,164680,111182,2011-08-30 00:00:00,68.0,76.0,left,medium,medium,73.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183950,183951,164680,111182,2011-02-22 00:00:00,68.0,79.0,left,medium,medium,71.0,...,65.0,53.0,71.0,69.0,69.0,9.0,8.0,5.0,5.0,8.0
183951,183952,164680,111182,2010-08-30 00:00:00,67.0,77.0,left,medium,medium,68.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183952,183953,164680,111182,2007-02-22 00:00:00,67.0,77.0,left,medium,medium,68.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183968,183969,102359,39902,2012-08-31 00:00:00,78.0,78.0,right,medium,low,77.0,...,82.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183969,183970,102359,39902,2012-02-22 00:00:00,81.0,81.0,right,medium,low,80.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183970,183971,102359,39902,2011-08-30 00:00:00,81.0,81.0,right,medium,low,80.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183971,183972,102359,39902,2011-02-22 00:00:00,81.0,85.0,right,medium,low,81.0,...,87.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183972,183973,102359,39902,2010-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [8]:
player_attributes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180354 entries, 0 to 183977
Data columns (total 42 columns):
id                     180354 non-null int64
player_fifa_api_id     180354 non-null int64
player_api_id          180354 non-null int64
date                   180354 non-null object
overall_rating         180354 non-null float64
potential              180354 non-null float64
preferred_foot         180354 non-null object
attacking_work_rate    180354 non-null object
defensive_work_rate    180354 non-null object
crossing               180354 non-null float64
finishing              180354 non-null float64
heading_accuracy       180354 non-null float64
short_passing          180354 non-null float64
volleys                180354 non-null float64
dribbling              180354 non-null float64
curve                  180354 non-null float64
free_kick_accuracy     180354 non-null float64
long_passing           180354 non-null float64
ball_control           180354 non-null float64
acceleration           180354 non-null float64
sprint_speed           180354 non-null float64
agility                180354 non-null float64
reactions              180354 non-null float64
balance                180354 non-null float64
shot_power             180354 non-null float64
jumping                180354 non-null float64
stamina                180354 non-null float64
strength               180354 non-null float64
long_shots             180354 non-null float64
aggression             180354 non-null float64
interceptions          180354 non-null float64
positioning            180354 non-null float64
vision                 180354 non-null float64
penalties              180354 non-null float64
marking                180354 non-null float64
standing_tackle        180354 non-null float64
sliding_tackle         180354 non-null float64
gk_diving              180354 non-null float64
gk_handling            180354 non-null float64
gk_kicking             180354 non-null float64
gk_positioning         180354 non-null float64
gk_reflexes            180354 non-null float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.2+ MB

In [9]:
player_attributes.describe()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,...,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.00000
mean,91995.886274,166822.125803,137653.145514,68.635317,73.479457,55.142071,49.962136,57.263476,62.486726,49.488927,...,57.868176,54.933448,46.757433,50.354065,48.029342,14.696685,15.947786,20.526304,16.015043,16.32531
std,53092.657914,52821.443279,137599.735284,7.027950,6.581963,17.247231,19.041760,16.478716,14.172493,18.252319,...,15.152408,15.556645,21.226730,21.496289,21.592830,16.841454,15.841297,21.143898,16.070772,17.18545
min,1.000000,2.000000,2625.000000,33.000000,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,46074.250000,156616.000000,35451.000000,64.000000,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.00000
50%,92003.500000,183792.000000,80291.000000,69.000000,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.00000
75%,137935.750000,200138.000000,192841.000000,73.000000,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.00000
max,183978.000000,234141.000000,750584.000000,94.000000,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,...,97.000000,96.000000,94.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.00000

In [10]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
id                    11060 non-null int64
player_api_id         11060 non-null int64
player_name           11060 non-null object
player_fifa_api_id    11060 non-null int64
birthday              11060 non-null object
height                11060 non-null float64
weight                11060 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 604.9+ KB

In [11]:
# Let's see how the player dataframe looks like
player

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170
10,11,23889,Aaron Mokoena,47189,1980-11-25 00:00:00,182.88,181
11,12,231592,Aaron Mooy,194958,1990-09-15 00:00:00,175.26,150
12,13,163222,Aaron Muirhead,213568,1990-08-30 00:00:00,187.96,168
13,14,40719,Aaron Niguez,183853,1989-04-26 00:00:00,170.18,143
14,15,75489,Aaron Ramsey,186561,1990-12-26 00:00:00,177.80,154
15,16,597948,Aaron Splaine,226014,1996-10-13 00:00:00,172.72,163
16,17,161644,Aaron Taylor-Sinclair,213569,1991-04-08 00:00:00,182.88,176
17,18,23499,Aaron Wilbraham,2335,1979-10-21 00:00:00,190.50,159
18,19,120919,Aatif Chahechouhe,187939,1986-07-02 00:00:00,175.26,150
19,20,46447,Abasse Ba,156626,1976-07-12 00:00:00,187.96,185
20,21,167027,Abdelaziz Barrada,192274,1989-06-19 00:00:00,177.80,161
21,22,245653,Abdelfettah Boukhriss,202425,1986-10-22 00:00:00,185.42,161
22,23,128456,Abdelhamid El Kaoutari,188145,1990-03-17 00:00:00,180.34,161
23,24,42664,Abdelkader Ghezzal,178063,1984-12-05 00:00:00,182.88,172
24,25,425950,Abdellah Zoubir,212934,1991-12-05 00:00:00,180.34,161
25,26,38423,Abdelmajid Oulmers,52782,1978-09-12 00:00:00,172.72,143
26,27,3264,Abdelmalek Cherrad,51868,1981-01-14 00:00:00,185.42,165
27,28,467485,Abdelmalek El Hasnaoui,209399,1994-02-09 00:00:00,180.34,159
28,29,306735,Abdelouahed Chakhsi,210504,1986-10-01 00:00:00,182.88,170
29,30,41659,Abderrazak Jadid,149241,1983-06-01 00:00:00,177.80,157
...,...,...,...,...,...,...,...
11030,11046,244155,Zezinho,212639,1992-09-23 00:00:00,175.26,161
11031,11047,19696,Zhi Zheng,158293,1980-08-20 00:00:00,180.34,165
11032,11048,290868,Zhi-Gin Lam,206209,1991-06-04 00:00:00,175.26,146
11033,11049,169594,Zie Diabate,207780,1989-03-02 00:00:00,177.80,143
11034,11050,244953,Ziggy Gordon,223263,1993-04-23 00:00:00,180.34,170
11035,11051,200607,Ziguy Badibanga,195862,1991-11-26 00:00:00,172.72,154
11036,11052,642618,Zinedine Machach,228821,1996-01-05 00:00:00,185.42,163
11037,11053,277772,Zinho Gano,204227,1993-10-13 00:00:00,198.12,205
11038,11054,246332,Ziri Hammar,202751,1992-07-25 00:00:00,180.34,163
11039,11055,532766,Zizo,222537,1996-01-10 00:00:00,175.26,148
11040,11056,27305,Zlatan Bajramovic,31667,1979-08-12 00:00:00,182.88,174
11041,11057,35724,Zlatan Ibrahimovic,41236,1981-10-03 00:00:00,195.58,209
11042,11058,12574,Zlatan Ljubijankic,176103,1983-12-15 00:00:00,185.42,176
11043,11059,39494,Zlatko Dedic,141111,1984-10-05 00:00:00,182.88,170
11044,11060,17233,Zlatko Janjic,188405,1986-05-07 00:00:00,187.96,183
11045,11061,42860,Zlatko Junuzovic,173474,1987-09-26 00:00:00,172.72,152
11046,11062,37128,Zola Matumona,158142,1981-11-26 00:00:00,165.10,143
11047,11063,24737,Zoltan Gera,137089,1979-04-22 00:00:00,182.88,165
11048,11064,107281,Zoltan Stieber,179712,1988-10-16 00:00:00,175.26,148
11049,11065,39801,Zoltan Szelesi,157283,1981-11-22 00:00:00,182.88,176
11050,11066,491794,Zoran Josipovic,219943,1995-08-25 00:00:00,187.96,165
11051,11067,56929,Zoran Rendulic,188593,1984-05-22 00:00:00,190.50,179
11052,11068,99031,Zoran Tosic,105454,1987-04-28 00:00:00,170.18,157
11053,11069,192132,Zouhaier Dhaouadhi,195840,1988-01-01 00:00:00,180.34,159
11054,11070,282473,Zouhair Feddal,205705,1989-01-01 00:00:00,190.50,172
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [12]:
# Let's get 50 players with most records in player_attributes
t50 = player_attributes.groupby(['player_api_id']).size().sort_values(ascending=False)[:50]
# Convert Series to a dataframe
players_50 = pd.DataFrame({'player_api_id':t50.index, 'records':t50.values})

In [13]:
players_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
player_api_id    50 non-null int64
records          50 non-null int64
dtypes: int64(2)
memory usage: 880.0 bytes

In [14]:
# How does a SQL-like join look like?
pd.merge(player, players_50, on='player_api_id')

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,records
0,141,47394,Adel Taarabt,179605,1989-05-24 00:00:00,180.34,172,50
1,200,40930,Adrien Silva,184826,1989-03-15 00:00:00,175.26,152,48
2,376,264842,Alessandro Florenzi,203551,1991-03-11 00:00:00,172.72,148,44
3,396,41269,Alessio Cerci,178393,1987-07-23 00:00:00,180.34,172,56
4,440,163838,Alex,198033,1991-08-27 00:00:00,175.26,148,44
5,679,30902,Andrea Barzagli,137186,1981-05-08 00:00:00,187.96,192,45
6,706,30731,Andrea Pirlo,7763,1979-05-19 00:00:00,177.80,150,45
7,710,25526,Andrea Ranocchia,182168,1988-02-16 00:00:00,195.58,179,45
8,895,27734,Antonio Di Natale,120274,1977-10-13 00:00:00,170.18,154,45
9,1049,56916,Aurelien Chedjou,183284,1985-06-20 00:00:00,182.88,190,50
10,1815,32421,Christopher Maguire,167841,1989-01-16 00:00:00,170.18,150,44
11,1843,161660,Ciro Immobile,192387,1990-02-20 00:00:00,185.42,172,46
12,1863,41890,Claudio Marchisio,173210,1986-01-19 00:00:00,180.34,157,53
13,2519,363333,Dele Alli,211117,1996-04-11 00:00:00,185.42,168,44
14,3062,95082,Eric Maxim Choupo-Moting,183569,1989-03-23 00:00:00,190.50,201,46
15,3156,95228,Fabian Frei,183346,1989-01-08 00:00:00,182.88,170,44
16,3520,49825,Franco Di Santo,186405,1989-04-07 00:00:00,193.04,194,45
17,3597,41199,Fredy Guarin,169051,1986-06-30 00:00:00,182.88,170,45
18,3691,49970,Gary Medel,193532,1987-08-03 00:00:00,170.18,168,44
19,3795,37950,Gervinho,170733,1987-05-27 00:00:00,177.80,146,43
20,3866,41884,Giorgio Chiellini,138956,1984-08-14 00:00:00,187.96,190,45
21,4061,42771,Guillermo Molins,187337,1988-09-26 00:00:00,185.42,183,43
22,4142,194165,Harry Kane,202126,1993-07-28 00:00:00,187.96,143,46
23,4874,27483,Jermaine Jones,112847,1981-11-03 00:00:00,182.88,172,47
24,5631,39330,Kari Arnason,166851,1982-10-13 00:00:00,190.50,174,46
25,5940,111862,Kwadwo Asamoah,186832,1988-12-09 00:00:00,172.72,168,45
26,5965,30700,Landon Donovan,7743,1982-03-04 00:00:00,172.72,161,45
27,6059,74814,Leigh Griffiths,202539,1990-08-20 00:00:00,175.26,168,46
28,6095,24235,Leonardo Bonucci,184344,1987-05-01 00:00:00,190.50,190,44
29,6473,185389,Magnus Wolff Eikrem,153048,1990-08-08 00:00:00,182.88,152,48
30,6805,108808,Mario Balotelli,186627,1990-08-12 00:00:00,187.96,194,46
31,6966,96616,Martin Caceres,182495,1987-04-07 00:00:00,180.34,172,47
32,7159,46820,Matteo Darmian,184392,1989-12-02 00:00:00,182.88,154,44
33,7338,26472,Michael Bradley,155887,1987-07-31 00:00:00,187.96,174,54
34,7493,71724,Miguel Layun,178322,1988-06-25 00:00:00,177.80,152,45
35,7761,120845,Nabil Bahoui,192126,1991-02-05 00:00:00,187.96,185,44
36,8079,37799,Obafemi Martins,137494,1984-10-28 00:00:00,170.18,161,47
37,8409,248453,Paul Pogba,195864,1993-03-15 00:00:00,190.50,185,44
38,8614,30453,Phillippe Mexes,41635,1982-03-30 00:00:00,187.96,181,51
39,8710,41433,Radja Nainggolan,178518,1988-05-04 00:00:00,175.26,143,46
40,9073,210278,Roberto Pereyra,193061,1991-01-07 00:00:00,182.88,170,56
41,9580,96540,Sebastian Giovinco,184431,1987-01-26 00:00:00,165.10,130,48
42,9589,42116,Sebastian Meoli,158428,1980-08-02 00:00:00,185.42,176,48
43,9826,42645,Simone Padoin,102056,1984-03-18 00:00:00,177.80,172,47
44,9954,30474,Stephan Lichtsteiner,108080,1984-01-16 00:00:00,182.88,165,44
45,10203,30626,Thierry Henry,1625,1977-08-17 00:00:00,187.96,183,48
46,10293,30876,Tim Cahill,51412,1979-12-06 00:00:00,177.80,152,45
47,10521,33080,Umut Bulut,125995,1983-03-15 00:00:00,182.88,165,47
48,10879,179795,Yacine Brahimi,184267,1990-02-08 00:00:00,175.26,146,53
49,11030,25772,Zdravko Kuzmanovic,168650,1987-09-22 00:00:00,185.42,176,51

In [15]:
players_50['player_api_id']

0     210278
1      41269
2      26472
3      41890
4     179795
5      25772
6      30453
7      56916
8      47394
9     185389
10     40930
11     42116
12     96540
13     30626
14     42645
15     33080
16     27483
17     96616
18     37799
19     41433
20     95082
21    161660
22    108808
23     39330
24    194165
25     74814
26     30700
27     25526
28     41199
29    111862
30     41884
31     71724
32     49825
33     30902
34     27734
35     30731
36     30876
37     49970
38     24235
39    163838
40    248453
41    120845
42    363333
43     95228
44     46820
45     30474
46     32421
47    264842
48     37950
49     42771
Name: player_api_id, dtype: int64

In [16]:
player_attributes[player_attributes['player_api_id'] == 95082][['date', 'overall_rating']]

                      date  overall_rating
51050  2016-04-28 00:00:00            77.0
51051  2016-04-21 00:00:00            77.0
51052  2016-03-31 00:00:00            78.0
51053  2016-02-18 00:00:00            78.0
51054  2015-11-06 00:00:00            78.0
51055  2015-09-21 00:00:00            78.0
51056  2015-02-13 00:00:00            79.0
51057  2015-02-06 00:00:00            79.0
51058  2015-01-16 00:00:00            79.0
51059  2015-01-09 00:00:00            78.0
51060  2014-12-19 00:00:00            78.0
51061  2014-12-12 00:00:00            77.0
51062  2014-12-05 00:00:00            77.0
51063  2014-10-24 00:00:00            77.0
51064  2014-10-17 00:00:00            76.0
51065  2014-10-02 00:00:00            76.0
51066  2014-09-18 00:00:00            76.0
51067  2014-05-16 00:00:00            75.0
51068  2014-05-02 00:00:00            75.0
51069  2014-04-04 00:00:00            75.0
51070  2014-03-21 00:00:00            75.0
51071  2014-03-14 00:00:00            74.0
51072  2014-03-07 00:00:00            74.0
51073  2014-02-07 00:00:00            74.0
51074  2014-01-24 00:00:00            74.0
51075  2014-01-17 00:00:00            74.0
51076  2014-01-10 00:00:00            74.0
51077  2013-12-20 00:00:00            74.0
51078  2013-12-06 00:00:00            74.0
51079  2013-09-20 00:00:00            74.0
51080  2013-05-10 00:00:00            74.0
51081  2013-04-19 00:00:00            74.0
51082  2013-04-12 00:00:00            75.0
51083  2013-03-28 00:00:00            75.0
51084  2013-03-22 00:00:00            75.0
51085  2013-02-15 00:00:00            75.0
51086  2012-08-31 00:00:00            75.0
51087  2012-02-22 00:00:00            71.0
51088  2011-08-30 00:00:00            70.0
51089  2011-02-22 00:00:00            71.0
51090  2010-08-30 00:00:00            71.0
51091  2010-02-22 00:00:00            67.0
51092  2009-08-30 00:00:00            67.0
51093  2008-08-30 00:00:00            67.0
51094  2007-08-30 00:00:00            58.0
51095  2007-02-22 00:00:00            58.0

In [17]:
# Messing around with dates
player.head(1).tail(1)['birthday']

0    1992-02-29 00:00:00
Name: birthday, dtype: object

In [18]:
player.head(2).tail(1)['birthday'] - player.head(1).tail(1)['birthday']

0    NaN
1    NaN
Name: birthday, dtype: object

Looks like objects can't be operated upon.

In [19]:
# Let's try converting the object to Python's datetime
pd.to_datetime(player.head(2).tail(1)['birthday'])

1   1989-12-15
Name: birthday, dtype: datetime64[ns]

In [55]:
# Even better, use Pandas' version of datetime, Timestamp!
# Side note: Interesting talk on Time Series in Python by Aileen Nielsen: https://github.com/AileenNielsen/TimeSeriesAnalysisWithPython
pd.Timestamp(player.head(1).tail(1)['birthday'].values[0]) - pd.Timestamp(player.head(2).tail(1)['birthday'].values[0])

Timedelta('806 days 00:00:00')

In [54]:
# Let's get the 50 frequent players' info.
player[player['player_api_id'].isin(players_50['player_api_id'])]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
140,141,47394,Adel Taarabt,179605,1989-05-24 00:00:00,180.34,172
199,200,40930,Adrien Silva,184826,1989-03-15 00:00:00,175.26,152
375,376,264842,Alessandro Florenzi,203551,1991-03-11 00:00:00,172.72,148
395,396,41269,Alessio Cerci,178393,1987-07-23 00:00:00,180.34,172
438,440,163838,Alex,198033,1991-08-27 00:00:00,175.26,148
676,679,30902,Andrea Barzagli,137186,1981-05-08 00:00:00,187.96,192
703,706,30731,Andrea Pirlo,7763,1979-05-19 00:00:00,177.80,150
707,710,25526,Andrea Ranocchia,182168,1988-02-16 00:00:00,195.58,179
892,895,27734,Antonio Di Natale,120274,1977-10-13 00:00:00,170.18,154
1046,1049,56916,Aurelien Chedjou,183284,1985-06-20 00:00:00,182.88,190
1812,1815,32421,Christopher Maguire,167841,1989-01-16 00:00:00,170.18,150
1840,1843,161660,Ciro Immobile,192387,1990-02-20 00:00:00,185.42,172
1860,1863,41890,Claudio Marchisio,173210,1986-01-19 00:00:00,180.34,157
2516,2519,363333,Dele Alli,211117,1996-04-11 00:00:00,185.42,168
3058,3062,95082,Eric Maxim Choupo-Moting,183569,1989-03-23 00:00:00,190.50,201
3152,3156,95228,Fabian Frei,183346,1989-01-08 00:00:00,182.88,170
3516,3520,49825,Franco Di Santo,186405,1989-04-07 00:00:00,193.04,194
3593,3597,41199,Fredy Guarin,169051,1986-06-30 00:00:00,182.88,170
3687,3691,49970,Gary Medel,193532,1987-08-03 00:00:00,170.18,168
3791,3795,37950,Gervinho,170733,1987-05-27 00:00:00,177.80,146
3862,3866,41884,Giorgio Chiellini,138956,1984-08-14 00:00:00,187.96,190
4057,4061,42771,Guillermo Molins,187337,1988-09-26 00:00:00,185.42,183
4138,4142,194165,Harry Kane,202126,1993-07-28 00:00:00,187.96,143
4869,4874,27483,Jermaine Jones,112847,1981-11-03 00:00:00,182.88,172
5624,5631,39330,Kari Arnason,166851,1982-10-13 00:00:00,190.50,174
5933,5940,111862,Kwadwo Asamoah,186832,1988-12-09 00:00:00,172.72,168
5958,5965,30700,Landon Donovan,7743,1982-03-04 00:00:00,172.72,161
6052,6059,74814,Leigh Griffiths,202539,1990-08-20 00:00:00,175.26,168
6088,6095,24235,Leonardo Bonucci,184344,1987-05-01 00:00:00,190.50,190
6464,6473,185389,Magnus Wolff Eikrem,153048,1990-08-08 00:00:00,182.88,152
6795,6805,108808,Mario Balotelli,186627,1990-08-12 00:00:00,187.96,194
6955,6966,96616,Martin Caceres,182495,1987-04-07 00:00:00,180.34,172
7148,7159,46820,Matteo Darmian,184392,1989-12-02 00:00:00,182.88,154
7327,7338,26472,Michael Bradley,155887,1987-07-31 00:00:00,187.96,174
7482,7493,71724,Miguel Layun,178322,1988-06-25 00:00:00,177.80,152
7750,7761,120845,Nabil Bahoui,192126,1991-02-05 00:00:00,187.96,185
8067,8079,37799,Obafemi Martins,137494,1984-10-28 00:00:00,170.18,161
8396,8409,248453,Paul Pogba,195864,1993-03-15 00:00:00,190.50,185
8600,8614,30453,Phillippe Mexes,41635,1982-03-30 00:00:00,187.96,181
8696,8710,41433,Radja Nainggolan,178518,1988-05-04 00:00:00,175.26,143
9059,9073,210278,Roberto Pereyra,193061,1991-01-07 00:00:00,182.88,170
9566,9580,96540,Sebastian Giovinco,184431,1987-01-26 00:00:00,165.10,130
9575,9589,42116,Sebastian Meoli,158428,1980-08-02 00:00:00,185.42,176
9810,9826,42645,Simone Padoin,102056,1984-03-18 00:00:00,177.80,172
9938,9954,30474,Stephan Lichtsteiner,108080,1984-01-16 00:00:00,182.88,165
10187,10203,30626,Thierry Henry,1625,1977-08-17 00:00:00,187.96,183
10277,10293,30876,Tim Cahill,51412,1979-12-06 00:00:00,177.80,152
10505,10521,33080,Umut Bulut,125995,1983-03-15 00:00:00,182.88,165
10863,10879,179795,Yacine Brahimi,184267,1990-02-08 00:00:00,175.26,146
11014,11030,25772,Zdravko Kuzmanovic,168650,1987-09-22 00:00:00,185.42,176

In [41]:
# Add their respective birthdays to players_50
players_50 = players_50.assign(birthdays = pd.Timestamp(x) for x in player['birthday'].values])

list

In [58]:
# Testing out LEFT OUTER JOIN
pd.merge(players_50, player, on = 'player_api_id', how='left')[['player_api_id', 'records', 'player_name', 'birthday']]

    player_api_id  records               player_name             birthday
0          210278       56           Roberto Pereyra  1991-01-07 00:00:00
1           41269       56             Alessio Cerci  1987-07-23 00:00:00
2           26472       54           Michael Bradley  1987-07-31 00:00:00
3           41890       53         Claudio Marchisio  1986-01-19 00:00:00
4          179795       53            Yacine Brahimi  1990-02-08 00:00:00
5           25772       51        Zdravko Kuzmanovic  1987-09-22 00:00:00
6           30453       51           Phillippe Mexes  1982-03-30 00:00:00
7           56916       50          Aurelien Chedjou  1985-06-20 00:00:00
8           47394       50              Adel Taarabt  1989-05-24 00:00:00
9          185389       48       Magnus Wolff Eikrem  1990-08-08 00:00:00
10          40930       48              Adrien Silva  1989-03-15 00:00:00
11          42116       48           Sebastian Meoli  1980-08-02 00:00:00
12          96540       48        Sebastian Giovinco  1987-01-26 00:00:00
13          30626       48             Thierry Henry  1977-08-17 00:00:00
14          42645       47             Simone Padoin  1984-03-18 00:00:00
15          33080       47                Umut Bulut  1983-03-15 00:00:00
16          27483       47            Jermaine Jones  1981-11-03 00:00:00
17          96616       47            Martin Caceres  1987-04-07 00:00:00
18          37799       47           Obafemi Martins  1984-10-28 00:00:00
19          41433       46          Radja Nainggolan  1988-05-04 00:00:00
20          95082       46  Eric Maxim Choupo-Moting  1989-03-23 00:00:00
21         161660       46             Ciro Immobile  1990-02-20 00:00:00
22         108808       46           Mario Balotelli  1990-08-12 00:00:00
23          39330       46              Kari Arnason  1982-10-13 00:00:00
24         194165       46                Harry Kane  1993-07-28 00:00:00
25          74814       46           Leigh Griffiths  1990-08-20 00:00:00
26          30700       45            Landon Donovan  1982-03-04 00:00:00
27          25526       45          Andrea Ranocchia  1988-02-16 00:00:00
28          41199       45              Fredy Guarin  1986-06-30 00:00:00
29         111862       45            Kwadwo Asamoah  1988-12-09 00:00:00
30          41884       45         Giorgio Chiellini  1984-08-14 00:00:00
31          71724       45              Miguel Layun  1988-06-25 00:00:00
32          49825       45           Franco Di Santo  1989-04-07 00:00:00
33          30902       45           Andrea Barzagli  1981-05-08 00:00:00
34          27734       45         Antonio Di Natale  1977-10-13 00:00:00
35          30731       45              Andrea Pirlo  1979-05-19 00:00:00
36          30876       45                Tim Cahill  1979-12-06 00:00:00
37          49970       44                Gary Medel  1987-08-03 00:00:00
38          24235       44          Leonardo Bonucci  1987-05-01 00:00:00
39         163838       44                      Alex  1991-08-27 00:00:00
40         248453       44                Paul Pogba  1993-03-15 00:00:00
41         120845       44              Nabil Bahoui  1991-02-05 00:00:00
42         363333       44                 Dele Alli  1996-04-11 00:00:00
43          95228       44               Fabian Frei  1989-01-08 00:00:00
44          46820       44            Matteo Darmian  1989-12-02 00:00:00
45          30474       44      Stephan Lichtsteiner  1984-01-16 00:00:00
46          32421       44       Christopher Maguire  1989-01-16 00:00:00
47         264842       44       Alessandro Florenzi  1991-03-11 00:00:00
48          37950       43                  Gervinho  1987-05-27 00:00:00
49          42771       43          Guillermo Molins  1988-09-26 00:00:00

In [56]:
players_50['player_api_id']

    player_api_id  records
0          210278       56
1           41269       56
2           26472       54
3           41890       53
4          179795       53
5           25772       51
6           30453       51
7           56916       50
8           47394       50
9          185389       48
10          40930       48
11          42116       48
12          96540       48
13          30626       48
14          42645       47
15          33080       47
16          27483       47
17          96616       47
18          37799       47
19          41433       46
20          95082       46
21         161660       46
22         108808       46
23          39330       46
24         194165       46
25          74814       46
26          30700       45
27          25526       45
28          41199       45
29         111862       45
30          41884       45
31          71724       45
32          49825       45
33          30902       45
34          27734       45
35          30731       45
36          30876       45
37          49970       44
38          24235       44
39         163838       44
40         248453       44
41         120845       44
42         363333       44
43          95228       44
44          46820       44
45          30474       44
46          32421       44
47         264842       44
48          37950       43
49          42771       43